
/****** [GNB 3rd][1ST LNB] 디지털리서치 RAG 테스트 ******/
.rag-chat-container { width:100%; display: flex; flex-direction: column; justify-content: space-between; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow: hidden; width: 100%; max-width: 1150px; margin: auto; }
.rag-container { display: flex; flex-direction: column; width: 100%; margin: auto; }
.rag-messages { width: calc(100% - 30px); padding: 10px; overflow-y: auto; display: flex; flex-direction: column; gap: 10px; }
.rag-message { padding: 8px 10px; border-radius: 20px; width: fit-content; max-width: 70%; }
.rag-message:empty {display: none;}
.rag-text:empty {display: none;}
.rag-received { align-self: flex-start; background-color: #FDE8E9; color: #613D2B; }
.rag-sent { align-self: flex-end; background-color: #E1FBEA; color: #2F4F4F; }
.rag-text { padding: 10px 15px; border-radius: 20px; color: inherit; }
.rag-chat-input { display: flex; padding: 10px; background-color: #fff; border-top: 1px solid #eee; }
.rag-chat-input input { flex: 1; padding: 10px; margin-right: 10px; border: 1px solid #ccc; border-radius: 20px; outline: none; }
.rag-chat-input button { padding: 10px 20px; background-image: linear-gradient(to right, #6e51d6, #0110e2); color: white; border: none; border-radius: 20px; cursor: pointer; font-size: 16px;}
.rag-chat-input button:hover { background-color: #031563; }

/****** [GNB 3rd][2ST LNB] AI 투자비서 테스트 ******/
#ai_invest_sec_employeeId {background-color: #E0F7FA; border: none; border-radius: 5px; display: inline-block; margin-right: 10px; padding: 10px; margin-left:10px;} 
#ai_invest_sec_confirmButton {background-color: #FFA726; border: none; border-radius: 5px; cursor: pointer; color: white; display: inline-block; padding: 8px 15px; font-size: 14px;} 
#ai_invest_sec_mainContent {border: 1px solid #cccccc; padding: 10px; margin-top: 10px; width:950px;} 
.ai_invest_sec_button {background-color: rgb(123, 147, 252); border: none; border-radius: 5px; cursor: pointer; color: white; display: inline-block; padding: 8px 15px; font-size: 14px;} 
#ai_invest_sec_dragDropArea {border: 2px dashed #cccccc; border-radius: 5px; padding: 20px; text-align: center; margin-left: 10px; flex-grow: 1;} 
.ai_invest_sec_url_input1 {background-color: #ebffec; display: inline-block; margin: 10px 0; margin-left:8px; padding: 10px; width: 60%;} 
.ai_invest_sec_url_input2 {background-color: #ebffec; display: inline-block; margin: 10px 0; padding: 10px; width: 60%;} 
.ai_invest_sec_apply_button {background-color: #221abb; color: white; border: none; border-radius: 5px; padding: 5px 10px; font-size: 12px; margin-left: 25px;}
.ai_append_text { background-color: rgb(245, 243, 235); color: rgba(235, 94, 0, 0.829); font-size:15px; border-radius: 10px; padding: 10px; margin-top:5px; }
.ai-sec-chat-container { width: 100%; max-width: 1150px; margin: auto; display: flex; flex-direction: column; justify-content: space-between; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow: hidden; }
.ai-sec-container { display: flex; flex-direction: column; width: 100%; margin: auto; }
.ai-sec-messages { padding: 10px; width: calc(100% - 30px); overflow-y: auto; display: flex; flex-direction: column; gap: 10px; }
.ai-sec-message { padding: 8px 10px; border-radius: 20px; width: fit-content; max-width: 70%; }
.ai-sec-message:empty, .ai-sec-text:empty { display: none; }
.ai-sec-received { align-self: flex-start; background-color: #c7f0ff; color: #2F4F4F; }
.ai-sec-sent { align-self: flex-end; background-color: #E1FBEA; color: #2F4F4F; }
.ai-sec-text { padding: 10px 15px; border-radius: 20px; color: inherit; }
.ai-sec-chat-input { display: flex; padding: 10px; background-color: #fff; border-top: 1px solid #eee; }
.ai-sec-chat-input input { flex: 1; padding: 10px; margin-right: 10px; border: 1px solid #ccc; border-radius: 20px; outline: none; }
.ai-sec-chat-input button { padding: 10px 20px; background-image: linear-gradient(to right, #6e51d6, #0110e2); color: white; border: none; border-radius: 20px; cursor: pointer; font-size: 16px; }
.ai-sec-chat-input button:hover { background-color: #031563; }
.header-with-button {display: flex; align-items: center; gap: 10px; padding: 10px;}
.db-clear-btn {background-image: linear-gradient(to right, #32cd32, #008000); color: white; border: none; padding: 5px 10px; font-size: 0.8rem; border-radius: 5px; cursor: pointer;}
.db-clear-btn:hover {background-image: linear-gradient(to right, #29a329, #006400);}
.ai_no_data { display: inline-block; padding: 10px; background: linear-gradient(145deg, #a7a7a9, #a7a7a2); color: #fff; text-align: center; border-radius: 10px; box-shadow: 0 8px 15px rgba(0,0,0,0.1); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; margin: 10px auto; max-width: 80%; }

