
/*국내 뉴스영역 화면*/
.news-selection { display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 20px; }
.news-btn { width: 100px; height: 30px; padding: 5px; font-size: 13px; text-align: center; line-height: 20px; background-color: #4765ee; border: none; border-radius: 4px; color: white; cursor: pointer; transition: background-color 0.3s ease; font-weight: bold}
.news-btn:hover { background-color: #3521a7; }
.news-show { background: #fff; padding: 20px; border: 1px solid #ddd; border-radius: 4px; min-height: 200px; margin-top: 10px; }
.news-btn.selected { background-color: #f0a30a; color: white; }
.news-selection { display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 20px; }
.naver-news-item { display: flex; align-items: flex-start; background: #fff; border: 1px solid #eaeaea; border-radius: 8px; padding: 15px; margin-bottom: 20px; box-shadow: 0 1px 3px rgba(0,0,0,0.05); }
.naver-news-thumb { flex: 0 0 auto; width: 100px; height: 100px; border-radius: 4px; margin-right: 15px; }
.naver-news-content { flex-grow: 1; overflow: hidden; }
.naver-news-title, .naver-news-summary, .naver-news-info { overflow: hidden; text-overflow: ellipsis; }
.naver-news-title { font-size: 16px; font-weight: bold; color: #333; margin-bottom: 5px; }
.naver-news-summary { font-size: 14px; color: #666; margin-bottom: 10px; }
.naver-news-info { font-size: 12px; color: #999; }
.naver-news-detailed {border: 1px solid #ccc; border-radius: 8px; background-color: #fffbe5; padding: 20px; margin: 10px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1); transition: all 0.3s ease;}
.naver-news-detailed h1, .naver-news-detailed h2, .naver-news-detailed h3, .naver-news-detailed h4, .naver-news-detailed h5, .naver-news-detailed h6 {color: #333;}
.naver-news-detailed p {color: #666; margin-bottom: 1em;}
.naver-news-detailed a {color: #007bff; text-decoration: none;}
.naver-news-detailed a:hover {text-decoration: underline;}
.naver-news-detail-btn { background-color: #666; color: white; padding: 6px 12px; font-size: 12px; border-radius: 4px; text-decoration: none; display: inline-block; margin-top: auto; align-self: center; cursor: pointer; }
.news-api-btn { width: 150px; height: 30px; padding: 5px; font-size: 13px; text-align: center; line-height: 20px; background-color: #ffffff; border: 1px solid #000000; border-radius: 4px; color: #000000; cursor: pointer; transition: background-color 0.3s ease, color 0.3s ease; }
.news-api-btn:hover { background-color: #ffcccc; color: #000000; }
.news-api-btn.selected { background-color: #e2be1f; color: white; }
#naver-api-search-area {margin: 20px 0; display: flex; align-items: center; gap: 10px;}
.naver-api-input {flex-grow: 1; border: 2px solid #ee9632; border-radius: 20px; padding: 5px 10px; font-size: 14px; color: #333; outline: none; transition: border-color 0.3s ease;}
.naver-api-input:focus {border-color: #f0a30a;}
.naver-api-search-btn {padding: 5px 15px; font-size: 12px; border: none; border-radius: 4px; background-color: #535151; color: white; cursor: pointer; transition: background-color 0.3s ease;}
.naver-api-search-btn:hover {background-color: #bbb;}
.ai-summary-button-container { text-align: right; margin-right: 10px; margin-top: 5px; }
.ai-summary-button { background-color: #e60000; color: white; border: none; padding: 5px 10px; font-size: 12px; cursor: pointer; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.2); transition: background-color 0.3s; }
.ai-summary-button:hover { background-color: #cc0000; }
.ai-summary-result {margin: 20px 0; padding: 15px; background-color: #f0f0f0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
.ai-summary-content {font-size: 16px; line-height: 1.6;}

/***** 국내주식 유사국면 분석 *****/
.stock-search-box {margin: 20px auto; text-align: center; width: 80%; max-width: 600px;}
.select2-container--default .select2-selection--single {border-radius: 20px; height: 50px; font-size: 16px; background-color: #E0F7FA;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 48px; background-color: #dfe7ff;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 48px;}
.select2-container--default .select2-selection--single .select2-selection__placeholder {color: black;}
.date-selection {text-align: center; margin-top: 20px;} 
.date-instruction {margin-bottom: 10px; font-size: 15px; color: #ee9714;} 
#fromDate, #toDate {margin: 0 20px; padding: 8px; border-radius: 20px;} 
.stockChartsearch {padding: 5px 20px; background-color: #6c757d; color: white; border: none; border-radius: 5px; cursor: pointer; margin-top: 15px; margin-bottom: 20px;} 
.stockChartsearch:hover {background-color: #5a6268;}
.stockChartContainer {text-align: center; margin-top: 20px; max-width: 800px; margin: auto;}
.noUi-handle {width: 20px; height: 20px; border-radius: 50%; background-color: #34568B;}
.noUi-connect { background: #bfeafc;}
#date-select-2 { margin-top: 25px; margin-bottom: 15px; display: none; position: relative; max-width: 800px; margin: 5px auto;}
.date-instruction2 {text-align: center; margin-bottom: 20px; color: rgba(11, 13, 160, 0.918); font-weight: bold;}
#fromDate_2, #toDate_2 {margin: 0 20px; padding: 8px; border-radius: 20px; background-color: #fcfbbb;} 
.similarity-result {background-color: #ffffe0; border: 1px solid #000; padding: 10px; margin-bottom: 20px; text-align: center; font-weight: bold; display:none;}
.stockChartContainer2 {text-align: center; margin-top: 20px; margin-bottom: 300px; max-width: 800px; margin: auto;}
.loading-text-similar {background-color: rgb(242, 234, 253); color: rgba(255, 0, 0, 0.829); font-weight: bold; border-radius: 10px; padding: 10px;}
.moreToDev {height: 100px;}
/* 유사국면 분석 시작 리뉴얼 추가작업*/
.input-container .stock-search-box{width:100%;max-width:inherit;}
.date-instruction{margin-top:30px;font-size:16px;color:#333;}
.date-selection{display:flex;justify-content:center;align-items:center;gap:5px;margin-top:15px;background:#fafaff;border:1px solid #d8d8d8;}
#fromDate, #toDate, #fromDate_2, #toDate_2{margin:0;padding:5px 35px 5px 5px;color:#555;background:url('/static/assets/images/calendar_ic.png') no-repeat right;background-color:#fff;text-align:center;border:1px solid #d8d8d8;border-right:0;border-radius:0;cursor:pointer;}
#fromDate, #toDate, #fromDate_2, #toDate_2:focus{border-color:inherit !important;}
.stockChartsearch{margin:20px 0;padding:5px 15px;color:#333;font-size:14px;background:#fff;font-weight:500;border:1px solid #d8d8d8;}
.stockChartsearch:hover{color:#fff;background:#2970ff;border:1px solid #2970ff;}
.stockChartContainer{max-width:inherit;margin-top:30px;}
#date-select-2{display:flex;max-width:inherit;margin-top:15px;}
.date-instruction2{margin-top:40px;font-size:16px;color:#333;font-weight:normal;text-align:left;}
.similarity-result{margin-top:15px;background:#fff;border:1px solid #d8d8d8;}
/* 유사국면 분석 끝 */