/* AI가 말해주는 주식정보(해외)  #1. Get Earning Info  #3. Get Stock Info */
.input-container {display: flex; flex-direction: column; align-items: center; margin-top: 10px;}
.input-ticker {padding: 5px 10px; height: 30px; font-size: 14px; border: 2px solid #ddd; border-radius: 4px; outline: none; margin-bottom: 10px;}
.foreign-buttons-container {margin-top: 10px; display: flex; justify-content: center;  gap: 20px;}
.basicInfoBtn {padding: 5px 20px; font-size: 14px; background-color: #6ea6e2; color: white; border: none; border-radius: 4px; cursor: pointer; outline: none;}
.basicInfoBtn:hover {background-color: #4452d8;}
.earningBtn {padding: 5px 20px; font-size: 14px; background-color: #4969d3; color: white; border: none; border-radius: 4px; cursor: pointer; outline: none;}
.earningBtn:hover {background-color: #1626bb;}
.foreignNewsBtn {padding: 5px 20px; font-size: 14px; background-color: #2f2dad; color: white; border: none; border-radius: 4px; cursor: pointer; outline: none;}
.foreignNewsBtn:hover {background-color: #08158b;}
.aiChatBtn {padding: 5px 20px; font-size: 14px; background-image: linear-gradient(to right, #f5c263, #f58b00); color: white; border: none; border-radius: 4px; cursor: pointer; outline: none;}
.aiChatBtn:hover {background-image: linear-gradient(to right, #f58b00, #eca445); }
.dotted-line {border-top: 1px dotted rgb(20, 30, 173); margin: 20px 0;}
.gpt-chart-area {width:100%; height:auto; border:1px solid #ccc;}
.gpt-chart-area img {width: 60%; height: auto; display: block; margin: 10px auto;}
.gpt-message-area {max-width: 900px; margin: 20px auto; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
.result-box {margin-top: 20px; padding: 15px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 5px; font-size: 15px;}
.result-box:nth-child(odd) {background-color: #f0f0f0}
.info-header {margin-bottom: 10px; font-weight: bold;}
.highlight {color: #ff6600;}
#tickerInput {width: calc(100% - 90px); padding: 10px; margin: 10px 0; border-radius: 5px; border: 1px solid #ccc;}
.foreign-search-box{margin: 20px auto; text-align: center; width: 80%; max-width: 800px;}
.earning-title-container {color: #333; text-align: center; padding: 10px; margin-bottom: 10px; padding-top: 35px;}
.earning-table {width: 90%; margin: 20px auto; border-collapse: collapse; box-shadow: 0 4px 8px rgba(0,0,0,0.1); padding-top:1px; border-radius: 8px; overflow: hidden;}
.earning-table th, .earning-table td {border: 1px solid #ddd; padding: 12px 15px; text-align: center; font-size: 16px;}
.earning-table th {background-color: #5da1ce; color: white; font-weight: normal;}
.earning-header-content {background-color: #74adbb;}
.earning-table tr:nth-child(even) {background-color: #f2f2f2;}
.earning-table td:first-child {font-weight: bold; color: #333;}
.infoSection { flex: 0 0 600px; padding: 20px; box-sizing: border-box; }
.chartSection { flex: 0 0 700px !important; display: flex; flex-direction: column; padding: 45px 20px 20px; box-sizing: border-box; }
.financialSection { width: 100%; padding: 20px; padding-bottom: 100px; box-sizing: border-box; margin: 0 auto; display: flex; justify-content: center; flex-direction: column; }
#annualFinancialsChart, #quarterlyGrowthChart { width: 100%; flex: 1; }
#annualFinancialsChart, #quarterlyGrowthChart { flex: 1; }
.stockBasicInfoTable, .stockAnnualFinancialsTable { width: 100%; border-collapse: collapse; }
.stockBasicInfoTable, .stockAnnualFinancialsTable, th, td { text-align: left; padding: 12px; border-bottom: 1px solid #ddd; }
.stockBasicInfoTable caption, .stockAnnualFinancialsTable caption { font-size: 1.5em; margin: 16px 0; color: #333; }
th { background-color: #576388; color: white; }
tr:nth-child(even) { background-color: #f2f2f2; }
.stockBasicInfoTable tr:hover, .stockAnnualFinancialsTable tr:hover { background-color: #ddd; }
.stockBasicInfoTable th:first-child, .stockBasicInfoTable td:first-child { background-color: #71959b; color: white; } 
.loading_bar_stockbasic { position: fixed; bottom: 200px; left: 57%; transform: translateX(-50%); display: none; z-index: 99; text-align: center; }
.loading_bar_stockbasic > img { max-width: 100px; max-height: 100px; }
.loading-text-stockbasic { background-color: rgb(237, 246, 253); color: rgba(0, 0, 0, 0.829); font-weight: bold; border-radius: 10px; padding: 10px; }
.stockBasic-gpt-chart-area, .stockBasic-earningsChart, .stockBasic-recommendationsChart { margin-top: 20px; width: 100%; height: auto; }
.chartContainer { width: 600px; height: 600px; float: right; }
.chartContainer .chart { width: 100%; height: 50%; }
.isVisible-true { color: yellow; }
.isVisible-false { color: white; }
.stockEarningInfo-toggle-visibility-btn { background-color: #646464; color: yellow; padding: 10px 20px; font-size: 16px; border-radius: 8px; cursor: pointer; display: block; width: fit-content; margin: 20px auto; text-align: center; transition: background-color 0.3s, color 0.3s; }
.stockEarningInfo-toggle-visibility-btn:hover { background-color: #dfdfdf; color:#272727;}
.stockEarningInfo-data-on { background-color: #646464; color: darkyellow; }
.stockEarningInfo-data-off { background-color: #646464; color: white; }
.fade-in { animation: fadeInAnimation ease 0.5s; animation-iteration-count: 1; animation-fill-mode: forwards; }
.fade-out { animation: fadeOutAnimation ease 0.5s; animation-iteration-count: 1; animation-fill-mode: forwards; }
@keyframes fadeInAnimation { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes fadeOutAnimation { 0% {opacity: 1;} 100% {opacity: 0;} }

/* AI가 말해주는 주식 정보 [해외] 리뉴얼버젼 시작 */
.input-container .select2-container--default .select2-selection--single .select2-selection__rendered{color:#333;font-size:18px;line-height:50px;border:1px solid #777;}
.input-container .select2-container--default .select2-selection--single{border:none;}
.input-container .select2-container .select2-selection--single{height:50px;}
.input-container .select2-container--default .select2-selection--single .select2-selection__arrow{top:50%;transform:translateY(-50%);}
.input-container .select2-container--default .select2-selection--single .select2-selection__placeholder{color:#333;}
.input-container .select2-container--default .select2-selection--single .select2-selection__rendered{background:#fff;}
.input-container .select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #ccc;}

.input-container{display:block;}
.input-container .foreign-buttons-container{justify-content:space-between;}
.input-container .foreign-search-box{width:100%;max-width:inherit;}
.slt-search-opt-btn{width:100%;padding:15px;background:#fafaff;color:#333;font-size:15px;font-family:'Spoqa Han Sans Neo';border:1px solid #ccc;font-weight:700;}
.slt-search-opt-btn:hover{background:inherit;}
.slt-search-opt-btn.on {background-color: #2970ff; color:white; pointer-events: none;}
.stockEarningInfo-toggle-visibility-btn{margin:40px auto 0;padding:15px 50px;font-size:16px;background:#2970ff;color:#fff;border:1px solid #2970ff;border-radius:4px;font-family:'Spoqa Han Sans Neo';transition:none;}
.stockEarningInfo-toggle-visibility-btn:hover{background:inherit;color:#2970ff;}

.gpt-chart-area{margin-top:50px;border:1px solid #d8d8d8;}
.gpt-chart-area .gpt-chart-flex{display:flex;justify-content:center;align-items:center;gap:30px;padding:25px;}
.gpt-chart-area img{width:100%;height:auto;}

.earning-title-container{padding:50px 0 0;text-align:left;}
.earning-title-container h2{font-size:20px;font-family:'Spoqa Han Sans Neo';}

.earning-table{width:100%;padding-top:0;border-radius:0;box-shadow:inherit;border:0;font-family:'Spoqa Han Sans Neo';}
.earning-table th{background:#fff;}
.earning-table th, .main td{color:#666;text-align:center;border:1px solid #d8d8d8;letter-spacing:-.5px;}
.earning-table tr:nth-child(even){background:#fff;}
.earning-table th{background:#fafaff;color:#333;font-weight:700;}
.earning-table th, .earning-table td{padding:15px 15px;border:1px solid #d8d8d8;}
.earning-table th:first-child, .earning-table td:first-child, .earning-table th:last-child, .earning-table td:last-child{border-left:0;border-right:0;}

.highlight{color:#0082ff;}
.gpt-message-area{max-width:inherit;margin:50px auto;padding:0;background:#fff;border-radius:0;box-shadow:none;}
#analysisResultBox{line-height:32px;}
.info-header{/*margin-bottom:20px;padding-bottom:7px;*/font-size:17px;/*border-bottom:1px solid #aaa;*/}
.result-box{margin-top:50px;padding:40px;border:1px solid #d8d8d8;border-radius:0;}
.result-box:nth-child(odd){background:#fafaff;}

.newsanalysis-list li{margin-top:20px;padding:15px 20px;background:#fafaff;line-height:24px;border:1px solid #efefef;border-radius:5px;box-sizing:border-box;}
.newsanalysis-list li:first-child{margin-top:40px;}
.newsanalysis-list li h4{position:relative;padding-left:73px;}
.newsanalysis-list li h4::before{content:'[헤드라인]';position:absolute;left:0;top:0px;}
.newsanalysis-list li p{position:relative;padding:10px 0 0 45px;color:#777;}
.newsanalysis-list li p::before{content:'[요약]';position:absolute;left:0;top:10px;}

#gptStockwaveArea{padding:40px !important;}
#gptStockwaveArea div{margin-top:30px;padding:30px 0 10px;border:1px solid #d8d8d8;text-align:center;}
#gptStockwaveArea div img{width:90%}

.highstock-instruction{ height: 550px; margin-top:10px;padding:20px;border:1px solid #ddd;border-radius:0; background-color: #ffffff; border-radius: 5px;}
#gptStockwaveArea #highstock-instruction div[aria-hidden="true"] {display: none !important; margin-top: 0px !important; z-index: 0 !important;} /*하이스탁에서 자동으로 생성해주는 이상한 div들 없애기*/
#highcharts-screen-reader-region-before-0 {display:none;}
.highcharts-a11y-proxy-button,.highcharts-screen-reader-region-before-0,.highcharts-announcer-container,
.highcharts-screen-reader-region-before-1,.highcharts-screen-reader-region-after-0, #highcharts-screen-reader-region-after-0 {display:none;}
.highcharts-6yp2a1h-0{margin-top:0px !important;}

/* AI가 말해주는 주식 정보 [해외] 리뉴얼버젼 끝 */

/* AI가 말해주는 주식정보(해외)  #2. News 데이터 보여주기 */
.loading_bar_foreignnews { position: fixed; bottom: 200px; left: 50%; transform: translateX(-50%); display: none; z-index: 99; text-align: center; width: 300px; background-color: #fff; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 10px; overflow: hidden;}
.loading_content > img { max-width: 150px; max-height: 150px; }
.loading_content { padding: 20px;}
.loading-text-foreignnews { font-size:14px; background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.829); font-weight: bold; border-radius: 10px; padding: 10px; margin-top: 10px;}

.news-summary-container { background-color: #ffffff; width: 100%;  margin: 20px auto; padding: 20px 0px 20px 0px; border: 1px solid #e0e0e0; box-shadow: 0 4px 8px rgba(0,0,0,0.05); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; line-height: 1.6; display: flex; flex-direction: column; align-items: center; border-radius: 5px; display:none;}
.news-summary-container p { margin: 0; padding: 20px 30px; text-align: center; font-size: 16px; }
.foreignTickerNews-container {display: flex; background-color: #f8ecec; border-radius: 8px; overflow: hidden; margin: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); position: relative; transition: max-height 0.5s ease-out, opacity 0.5s ease-out; max-height: 500px; opacity: 1;}
.foreignTickerNews-image {padding: 10px; padding-right: 0; padding-top:65px; padding-left:15px; align-self: flex-start;}
.foreignTickerNews-image img {width: 200px; height: auto; display: block; border-radius: 4px;}
.foreignTickerNews-content {padding: 10px 20px; display: flex; flex-direction: column; justify-content: space-between; align-items:baseline;}
.foreignTickerNews-header {display: flex; flex-direction: column; gap: 10px;}
.foreignTickerNews-datetime {background-color: #4bab08; color: white; padding: 5px 10px; border-radius: 4px; font-size: 12px; position: absolute; top: 25px; left: 15px;}
.foreignTickerNews-headline {font-size: 18px; color: #333; margin-top: 20px;}
.foreignTickerNews-source {font-size: 14px; color: #666;}
.foreignTickerNews-summary {font-size: 14px; color: #555; line-height: 1.4; margin-bottom: 10px;}
.foreignTickerNews-link {background-color: #007bff; color: white !important; padding: 8px 12px; border-radius: 4px; text-decoration: none; font-weight: bold; font-size: 13px;}
.foreignTickerNews-analysis {background: linear-gradient(135deg, #6e02af, #6e61b9); color: white; padding: 8px 12px; border-radius: 4px; text-decoration: none; font-weight: bold; font-size: 12px;}
.foreignTickerNews-buttons-container {display: flex; align-items: center; justify-content: flex-end; gap: 10px; margin-top: 10px;}
#toggleNewsButton { padding: 10px 20px; font-size: 16px; color: #fffb03; background-color: #646464; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease, color 0.3s ease; outline: none; margin: 10px auto; display: block; width: fit-content; }
#toggleNewsButton:hover { background-color: #d4d4d4; color:#2c2b2b }
.hiddenNews { max-height: 0; opacity: 0; transition: opacity 0.3s ease, max-height 0.3s ease; }
.analysisResultContainer { padding: 10px; margin-top: 10px; background-color: #f1f1f1; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
.frNewsAnalysisTitle { font-size: 16px; font-weight: bold; margin-bottom: 10px; color: #221e1e; }
.frNewsAnalysisContent { font-size: 14px; line-height: 1.6; }
.frNewsWebUrl { color: #1e47a0; text-decoration: underline; font-size:14px; }
.frNews-html-content { padding: 15px; margin: 10px 0; background-color: #f7f7f7; border-left: 5px solid #007BFF; font-family: 'Courier New', Courier, monospace; color: #333; overflow: auto; }
.highlight_news { background-color: yellow; font-weight: bold; }
.foreignTickerNews-container, .analysisResultContainer {overflow: hidden; transition: max-height 0.5s ease-out;}
#stockBasic {transition: max-height 0.5s ease-out, opacity 0.5s ease-out;overflow: hidden;}
.hiddenNews {max-height: 0 !important; opacity: 0; padding: 0 20px; margin: 0 20px; overflow: hidden; transition: all 0.5s ease;}
.shownNews {max-height: 2000px; opacity: 1; max-height: none;  padding: 20px; transition: opacity 0.3s ease, max-height 0.3s ease, padding 0.3s ease;}
.release-item h3 {margin: 0; color: #007bff; cursor: pointer;}
.release-item p {margin: 5px 0;}

/* 소셜 데이터 시작  리뉴얼버젼*/
#toggleNewsButton{margin:40px auto 0;padding:15px 50px;font-size:16px;background:#2970ff;color:#fff;border:1px solid #2970ff;border-radius:4px;font-family:'Spoqa Han Sans Neo';transition:none;}
#toggleNewsButton:hover{background:inherit;color:#2970ff;}
.foreignTickerNews-container{align-items:center;margin:30px 0 0;padding:20px 110px 20px 20px;background:#f5f5ff;border:1px solid #efefef;border-radius:0;box-shadow:none;}
.foreignTickerNews-container:first-child{margin:50px 0 0;}
.foreignTickerNews-datetime{top:20px;left:auto;right:20px;/*background:#196e6e;*/background:#666;}
.foreignTickerNews-content{display:block;padding:0 25px;}
.foreignTickerNews-image{align-self:auto;padding:0;}
.foreignTickerNews-headline{margin-top:0;}
.foreignTickerNews-summary{margin-top:10px;}
.foreignTickerNews-buttons-container{display:block;margin-top:30px;}
.foreignTickerNews-link{font-size:12px;background:#2970ff;}
.foreignTickerNews-analysis{background:#10a795;}
.analysisResultContainer{max-height:inherit;padding:40px;background:#fafaff;border:1px solid #efefef;border-radius:0;box-shadow:none;}
.analysisContent{font-size:15px;line-height:32px;}
.analysisTitle{margin-bottom:15px;font-size:17px;color:#333;line-height:30px;}
.webUrl{color:#2970ff;}
/* 소셜 데이터 끝 */


/*AI가 말해주는 주식 정보 [해외] 리뉴얼 버젼 종목 기본정보 시작 */
.stockBasicInfo-toggle-visibility-btn{margin:40px auto 0;padding:15px 50px;font-size:16px;background:#2970ff;color:#fff;border:1px solid #2970ff;border-radius:4px;font-family:'Spoqa Han Sans Neo';transition:none;}
.stockBasicInfo-toggle-visibility-btn:hover{background:inherit;color:#2970ff;}
.stockBasic-input-container{width:100%;justify-content:space-between !important;flex-wrap:wrap;margin:0 auto;}
.infoSection{flex:0 0 700px;margin-top:50px;padding:0;}
.stockBasicInfoTable{border:0;}
.stockBasicInfoTable th{font-weight:500;}
.stockBasicInfoTable th:first-child, .stockBasicInfoTable td:first-child{background:#008296;}
.stockBasicInfoTable th, .stockBasicInfoTable td, .stockAnnualFinancialsTable th, .stockAnnualFinancialsTable td{border:1px solid #d8d8d8;text-align:center;}
.stockBasicInfoTable th:first-child, .stockBasicInfoTable td:first-child, .stockAnnualFinancialsTable th:first-child, .stockAnnualFinancialsTable td:first-child{border-left:0;}
.stockBasicInfoTable th:last-child, .stockBasicInfoTable td:last-child, .stockAnnualFinancialsTable th:last-child, .stockAnnualFinancialsTable td:last-child{border-right:0;}
.stockBasicInfoTable tr:nth-child(even){background:#f5f7f9;}
.stockBasicInfoTable tr:nth-child(odd):hover{background:#fff;}
.stockAnnualFinancialsTable tr:nth-child(even){background:#fff;}
.stockAnnualFinancialsTable tr:nth-child(odd):hover{background:#fff;}
.financialSection{padding:10px; margin-top: 50px;}
.financial-title{padding-top:0px;color:#333;margin-bottom:10px;}
.financial-title h2{font-size:20px;}
.stockAnnualFinancialsTable{margin-top:10px;}
.stockAnnualFinancialsTable th{background:#fafaff;color:#333;}

/* AI가 말해주는 주식정보(해외)  #4. Ask AI Anything **/
#chatApp {box-shadow: 0 4px 8px rgba(0,0,0,0.2); border-radius: 8px; overflow: hidden; width: 1000px; margin: 0 auto; margin-bottom: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #f5f5f5; display: flex; flex-direction: column; position: relative; justify-content: space-between; height: 600px;}
#chatTitle {background: linear-gradient(120deg, #007bff, #6610f2); color: white; font-weight: bold; font-size: 19px; display: flex; align-items: center; justify-content: start; padding: 15px; gap: 5px;} 
#chatTitle > span, .current-status-container, .setting-buttons-container {margin-right: 8px;} 
.current-status-container {display: flex; align-items: center; white-space: nowrap;}
#currentModeButton {background-color: #8a2be2; color: white; border: none; padding: 2px 6px; border-radius: 4px; cursor: pointer; font-size: 14px; font-weight: normal;} 
#settingsButton, #closeButton, #resetButton {cursor: pointer; transition: transform 0.3s ease; max-height: 30px; max-width: 30px;} 
#settingsButton {margin-left: 1px;} 
#settingsButton:hover, #closeButton:hover, #resetButton:hover {transform: scale(1.1);} 
.setting-buttons-container {display: flex; align-items: center; margin-left: auto; gap: 14px;}
#chatMessages {flex-grow: 1; overflow-y: auto; background-color: white; padding: 15px; display: flex; flex-direction: column; gap: 10px;}
#chatMessages .message {padding: 10px; border-radius: 20px; max-width: 80%; align-self: flex-start; background-color: #f5eed6; border: 1px solid #e0e0e0; word-wrap: break-word;}
#chatMessages .message.system {padding: 10px; border-radius: 20px; max-width: 80%; align-self: flex-start; background-color: #eaf8dc; border: 1px solid #e0e0e0; word-wrap: break-word;}
#chatMessages .message.user {align-self: flex-end; background-color: #007bff; color: white; border: none;}
#chatInput {box-sizing: border-box; width: 100%; padding: 15px 20px; border: none; border-top: 1px solid #ccc; font-size: 14px; outline: none; background: #f9f9f9; color: #555;}
#chatInput:focus {background: #e8e8e8;}
#currentMode {background-color: #8a2be2; color: white; padding: 5px 10px; border-radius: 5px; font-weight: normal; font-size: 14px;}
#chatMessages .loading {background-color: #FFF3CD; color: #856404; padding: 10px; border-radius: 20px; max-width: 80%; word-wrap: break-word;}
#settingsModal {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 70%; max-width: 850px; min-height: 500px; max-height: 90%; background-color: transparent; display: flex; justify-content: center; align-items: center;}
.modal-content {position: relative; background: #ffffff; border-radius: 8px; box-shadow: 0 8px 16px rgba(0,0,0,0.2); overflow: hidden; padding-bottom: 20px;}
.modal-header {padding: 15px; background: linear-gradient(135deg, #6e8efb, #a777e3); color: white; font-size: 20px; font-weight: bold; display: flex; justify-content: space-between; align-items: center; height: 50px;}
.modal-header img {width: 38px; height: 38px; cursor: pointer;}
.modal-body {padding: 20px; overflow-y: auto;}
.modal-footer {position: absolute; right: 20px; bottom: 20px;}
.custom-radio {display: block; margin-bottom: 20px; font-size: 16px; font-weight: bold; color: #333; border-bottom: 1px solid #eee; padding-bottom: 15px;}
.custom-radio:last-child {border-bottom: none;}
.custom-radio input[type="radio"] {margin-right: 10px; -webkit-appearance: none; appearance: none; outline: 2px solid #007bff; width: 18px; height: 18px; border-radius: 50%; background-color: #fff; cursor: pointer; vertical-align: middle;}
.custom-radio input[type="radio"]:checked {background-color: #007bff;}
.hint, .url-input {display: block; margin-top: 5px;}
.hint {font-size: 14px; color: #555; font-weight: bold;}
.url-input {width: 100%; max-width: 420px; padding: 8px 12px; border-radius: 4px; border: 1px solid #ccc; background-color: #c6f7bf; color: #2b2929; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#saveButton {padding: 6px 24px; background: linear-gradient(135deg, #6e8efb, #a777e3); color: white; border: none; border-radius: 4px; cursor: pointer; font-weight: bold;  font-size: 14px; transition: background-color 0.3s ease;}
#saveButton:hover {background: linear-gradient(135deg, #5d6dcb, #896bc3);}
.loading_bar_chatting { position: fixed; bottom: 200px; left: 57%; transform: translateX(-50%); display: none; z-index: 99; text-align: center; }
.loading_bar_chatting > img { max-width: 200px; max-height: 200px; }
.loading-text-chatting { background-color: rgb(209, 247, 228); color: rgba(0, 0, 0, 0.829); font-weight: bold; border-radius: 10px; padding: 10px; }

/*  [1ST GNB][2ND LNB] 글로벌 주요 경제지표 1.[핵심지표] 영역 */
.form-container {background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin: 20px auto; width: 80%; max-width: 960px;}
.form-header {margin-bottom: 20px; font-weight: bold; color: #0056b3; text-align: center;}
.form-actions {display: flex; justify-content: space-between; align-items: center; margin-top: 20px;}
.checkbox-row {display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px;}
.checkbox-group {flex: 0 1 30%; display: flex; align-items: center; margin: 5px; min-width: 250px;}
.checkbox-group label {white-space: nowrap;}
.checkbox-group input[type="checkbox"] {margin-right: 10px;}
.indicatorButton {display: block; margin: 20px auto; background-color: #74a6e7; border: none; color: white; padding: 10px 20px; font-size: 15px; cursor: pointer; border-radius: 5px;}
.indicatorButton:hover {background-color: #5476e9;}
#loading_bar_economics {text-align: center; margin-top: 20px;}
.loading-text-economics {background-color: rgb(237, 246, 253); color: rgba(0, 0, 0, 0.829); font-weight: bold; border-radius: 10px; padding: 10px;}
#myEconomicChart {display: block; margin: 20px auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border-radius: 5px; width: 1200px; height: 700px;}
#clearButton {background-color: white; border: 1px solid #ccc; color: #333; padding: 5px 10px; font-size: 12px; margin-top: 10px; cursor: pointer; border-radius: 5px;}
#clearButton:hover {background-color: #f9f9f9;}
#chartAnalysis{margin-top: 20px; margin-bottom: 20px; padding: 10px; background-color: #f1f1f1; border-radius: 5px;}
.chart-analysis-title {color: #003366; font-weight: bold; margin-bottom: 10px; font-size: 16px;}
.ai-opinion-checkbox {display: flex; align-items: center;}
.ai-opinion-label {margin-left: 0px; color: #0a06e7 !important; font-size: 13px; width:100px;}
.ai-opinion-warning {color: #000; font-size: 13px; margin-top: 10px; text-align: left; width: 100%;}
#h3.nth-menu{margin-bottom:30px; margin-top:30px; color:#333;font-weight:400;} 
input[type="date"] {appearance: auto;-webkit-appearance: auto;}
.date-range-container .date {margin-bottom: 20px;}
.date-range-container {margin-bottom: 20px;display: flex;align-items: center;justify-content: center;}
.date-range-container label {margin-right: 10px;color: #3366ff;}
.date-range-container input[type="date"] {padding: 6px 8px;border-radius: 3px;border: 1px solid #ccc;font-size: 14px;outline: none;width: 160px;color: #3366ff; margin-right: 45px;  color: rgba(32, 31, 31, 0.637);}
.date-range-container input[type="date"]:focus {border-color: #555;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
.fred_indicator_img {width: 100%; max-height: 590px; object-fit: contain; border: 1px solid #ccc; box-shadow: 0 2px 6px rgba(0,0,0,0.1);}
#fred_chart_area {margin-bottom: 20px;}
.fred_indicator_text {white-space: pre-wrap; background-color: #f4f4f8; padding: 15px; border-radius: 4px; border: 1px solid #ddd; box-shadow: 0 2px 6px rgba(0,0,0,0.1);}
#fred_anal_area {margin-top: 20px;}
.fred_anal_highlight{ color: rgb(222, 6, 230); font-weight:bold;} 


/*  [1ST GNB][2ND LNB] 글로벌 주요 경제지표 2.[채권데이터 분석] 및 [뉴스] 영역 */
.bond-chart-area {width:100%; height:auto; border:1px solid #ccc;}
.indicator-news-area{background-color: #ffffff;padding:10px;margin:5px 0;border-radius:8px;box-shadow:0 4px 8px rgba(0,0,0,0.1);display:flex;flex-direction:column;align-items:center;}
.indicator-date-selection {text-align: center; margin-top: 20px;} 
.indicator-date-instruction {margin-bottom: 10px; font-size: 15px; color: #0000007e;} 
#indicatorFromDate, #indicatorToDate {margin: 0 20px; padding: 8px; border-radius: 20px;} 
.indicatorNewsSearch {padding: 5px 20px; background-color: #2970ff; color: white; border: none; border-radius: 5px; cursor: pointer; margin-top: 15px; margin-bottom: 20px;} 
.indicatorNewsSearch:hover{background:inherit;color:#2970ff; border-color:#2970ff; border:1px !important;}
.indicatorNews-container {display: flex; flex-direction: column; align-items: flex-start; text-align: left; background-color: #E3F2FD; margin-bottom: 20px; padding: 15px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.12); width: 100%;}
.indicatorNews-image {width: 100%; max-width: 300px; height: auto; border-radius: 8px; margin-bottom: 15px;}
.indicatorNews-title {font-weight: bold; color: #333; margin-bottom: 5px; font-size: 18px;}
.indicatorNews-date {color: #777; margin-bottom: 5px;}
.indicatorNews-content {color: #666; font-size: 14px; line-height: 1.6; margin-bottom: 10px;}
.translate-button {background-color: #0f2f99; color: #fff; border: none; padding: 8px 16px; font-size: 14px; cursor: pointer; border-radius: 4px; margin-top: 5px;}
.translate-button:hover {background-color: #a7b3eb;}
.loading-text {font-size: 14px; color: #666; padding: 10px; text-align: center;}
.no-news-message {color: #666; font-size: 16px; text-align: center; padding: 20px;}


#loading_bar_bondsNews { position: fixed; bottom: 200px; left: 57%; transform: translateX(-50%); display: none; z-index: 99; text-align: center; } 
.loading_bar_translate { position: fixed; bottom: 200px; left: 57%; transform: translateX(-50%); display: none; z-index: 99; text-align: center; } 
.loading_bar_translate > img {max-width: 100px; max-height: 100px;}

/*  [1ST GNB][2ND LNB] 글로벌 주요 경제지표 리뉴얼 추가영역  */
#chartPilot h3.s-tit.new-sub-tit{font-size:20px;margin-bottom:20px;font-weight:500;}
.form-container{width:auto;max-width:inherit;margin:30px 0;padding:30px;background:#f5f5ff;border:1px solid #efefef;border-radius:0;box-shadow:none;}
.form-header{font-size:17px;color:#333;text-align:left;}
.form-header span{color:#2970ff;}
.checkbox-row{justify-content:flex-start;gap:10px 30px;}
.checkbox-group{flex:inherit;min-width:inherit;}
.form-actions{justify-content:flex-start;gap:20px;margin-top:0;}
.indicatorButton.new-show-chart-btn{height:40px;margin:0;padding:0 50px;background:#2970ff;}
#clearButton{height:40px;margin-top:0;padding:0 20px;font-size:15px;border:1px solid #aaa;}
#myEconomicChart{padding:20px;border:1px solid #efefef;border-radius:0;box-shadow:none;}
#chartPilot .box-instruction.new-chart-analysis-wrap{margin-top:30px;padding:40px;background:#fafaff;border:1px solid #efefef;}
.chart-analysis-title{font-size:17px;color:#111;line-height:30px;}
#chartAnalysis{margin-bottom:0;padding:0;background:transparent;}
.nth-menu{margin-top:50px;font-size:20px;margin-bottom:20px;font-weight:500;}
.indicator-custom-select {width: 450px;}
.bond-area{margin:30px 0;padding:0;background:#fff;border-radius:0;box-shadow:none;}
.indicatorButton{margin:40px auto 40px;padding:15px 50px;font-size:16px;background:#2970ff;border:1px solid #2970ff;border-radius:4px;}
.indicatorButton:hover{background:inherit;color:#2970ff;}
.bondNews-container{margin-bottom:30px;padding:40px;box-shadow:none;background:#fafaff;border:1px solid #efefef;border-radius:0;}
.translate-button{font-size:14px;background:#008296;}
.translate-button:hover{background:#008296;}
.bondNews-title{font-size:18px;}
.bondNews-content{line-height:1.8;}

/* [1ST GNB][3RD LNB] 뉴스 데이터 영역 */

    /* 뉴스 체크박스 */
.category-selection {max-width: 1200px;margin: 20px auto;background: #f1efef;padding: 20px;border-radius: 10px;box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
.category-form {display: grid; grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); gap: 15px; padding: 15px;}
.category {display: flex; align-items: center; background: #ffffff; padding: 10px; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);transition: transform 0.2s ease-in-out;}
.category:hover { transform: translateY(-2px);}
label {font-size: 16px; cursor: pointer;}
label:hover {color: #fa7508;}
#all + label {color: #042cc3;}
.form-action {grid-column: span 4; display: flex; justify-content: center; padding: 20px;  margin-top: 20px;  margin-left: auto; margin-right: auto;}
.load-news-btn {background-color: #007bff; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 18px; transition: background-color 0.3s ease;}
.load-news-btn:hover {background-color: #0056b3;}
    /* 뉴스 데이터 */
.news-board {display: flex; flex-direction: column; margin: 20px;}
.news-item {border: 1px solid #ddd; margin-bottom: 10px; padding: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
.news-item img {max-width: 100px; margin-right: 10px; border: 1px solid #ccc;}
.news-content {display: flex; align-items: flex-start;}
.news-title {font-size: 18px; margin: 0 0 10px 0; color: #10008d;}
.news-body {font-size: 15px;}
.publish-date {font-size: 14px; color: white; background-color: #333; padding: 5px 10px; border-radius: 5px; margin-top: 5px; display: inline-block;}
    /* 뉴스 버튼 스타일 */
.buttons-container {display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;}
.newstrans-button {background-color: #1e00b7; color: white; border: none; border-radius: 5px; padding: 5px 10px; font-size: 12px; margin-left: 10px; cursor: pointer; display: inline-block;}
.fr-news-btn { background: #fff; color: #333; border: 2px solid #6f6969; padding: 8px 16px; margin: 0 10px; border-radius: 5px; cursor: pointer; font-size: 14px; transition: background 0.3s ease, color 0.3s ease; }
.fr-news-btn:hover { background: #6f6969; color: #fff; }
.fr-news-btn-alt { background: #6f6969; color: #fff; border: 2px solid #6f6969; padding: 8px 16px; margin: 0 10px; border-radius: 5px; cursor: pointer; font-size: 14px; transition: background 0.3s ease, color 0.3s ease; }
.fr-news-btn-alt:hover { background: #fff; color: #333; }

    /* 뉴스 AI 답변 */
.ai-box {background-color: #ffffe0; border:1px solid #ccc; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-top: 5px; margin-right: 0; margin-bottom: 20px; margin-left: 0;}
.list-dep {list-style-type: none; padding: 0;}
.list-dep li {margin-bottom: 10px;}
.gpt_t {margin-bottom: 10px;}


/* [1ST GNB][4TH LNB] 소셜 FOMC 영역 */
    /* FOMC Press Release 파트 */
#fomc-press-releases .fomc-release-item {margin-bottom: 20px; padding: 15px; border: 1px solid #ccc; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 2px 4px rgba(0,0,0,0.1); transition: transform 0.2s ease-in-out; max-height: none;}
.fomc-release-item h3 {margin-bottom: 10px; color: #007bff; cursor: pointer;}
.fomc-release-item p {margin: 5px 0; color: #666; font-size:12px;}
.fomc-release-summary-btn {background-color: #055397; color: white; padding: 5px 10px; font-size: 13px; border-radius: 5px; cursor: pointer; margin-left: 10px; margin-top: 10px;}
.fomc-toggle-visibility-btn {background-color: #646464; color: yellow; padding: 10px 20px; font-size: 16px; border-radius: 8px; cursor: pointer; margin: 10px auto; text-align: center; display: block; width: fit-content;}
.fomc-toggle-visibility-btn:hover {background-color: #e7e7e7; color:#333333;}
.fomc-release-detail {display: none; margin-top: 10px; max-height:none; overflow: visible;}
.fomc-release-detail-content {padding: 15px; background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px; font-size: 14px; line-height: 1.6;}
.fomc-release-summary-btn:hover {background-color: #0056b3;}
.fomc-detail-hiddenNews {max-height: 0 !important; opacity: 0; padding: 0 20px; margin: 0 20px; overflow: hidden; transition: opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease;}
.fomc-detail-shownNews {max-height: 1000px; opacity: 1; padding: 20px; transition: opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease; margin-top: 10px;}
.fomc-detail-content {background-color: #b4d9db; padding: 20px; margin-top: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); transition: all 0.5s ease;}
.highlight_news { color: red; } 
.fomc-toggle-visibility-btn{margin:40px auto 0;padding:15px 50px;font-size:16px;background:#2970ff;color:#fff;border:1px solid #2970ff;border-radius:4px;font-family:'Spoqa Han Sans Neo';transition:none;}
.fomc-toggle-visibility-btn:hover{background:inherit;color:#2970ff;}
#fomc-press-releases{margin-top:50px;}
#fomc-press-releases .fomc-release-item{margin-bottom:30px;padding:25px;background:#fff;border:1px solid #efefef;border-radius:0;box-shadow:none;}
.fomc-release-item h3{font-size:18px;color:#2970ff;}
.dis-flex{display:flex;gap:15px;}
.fomc-release-item p{margin:0;font-size:13px;color:#333;}
/*.fomc-release-summary-btn{margin:25px 0 0;padding:10px 20px;background:#ff9235;}*/
/*.fomc-release-summary-btn:hover{background:#ffaa35;}*/
.fomc-detail-shownNews{padding:0;}
.fomc-detail-content{padding:25px;margin-top:30px;background:#c2dbf3;line-height:32px;border:1px solid #efefef;border-radius:0;box-shadow:none;}
.fomc-detail-content .highlight_news{display:block;color:#2970ff;}
/* FOCM 데이터 분석 > 프레스릴리스 시작 */
.fomc-release-item{margin-top:30px;padding:20px;background:#f5f5ff;border:1px solid #efefef;}
.fomc-release-item h3{color:#333;}
.fomc-release-date-type{gap:5px;}
.fomc-release-item .fomc-release-date{font-size:12px;padding:5px 10px;color:#333;background:#fff;border:1px solid #efefef;border-radius:4px;}
.fomc-release-item .fomc-release-presstype{font-size:12px;padding:5px 10px;color:#333;background:#fff;border:1px solid #efefef;border-radius:4px;}
.foreignTickerNews-analysis{background:#2970ff;}
.fomc-release-summary-btn{margin:20px 0 0 0;padding:8px 12px;font-size:12px;background:#2970ff;border-radius:4px;}
.fomc-release-summary-btn:hover{background:#2970ff;}
.fomc-detail-content{font-size:15px;color:#555;line-height:30px;background:#fff;transition:none;}
.fomc-detail-content .highlight_news{color:#111;font-weight:bold;}
/* FOCM 데이터 분석 > 프레스릴리스 끝 */

    /* FOMC 연준위원 스피치 요약 및 성향분석 시작 */
.font-bold{font-weight:500;}
.site-link{color:#2970ff !important;text-decoration:underline;}
.tab-wrap{display:flex;justify-content:center;gap:20px;margin-top:10px;}
.tab-wrap .tab-list{display:block;width:100%;padding:15px;font-size:15px;color:#333;background:#fafaff;font-weight:700;border:1px solid #ccc;border-radius:4px;}
.tab-wrap .tab-list.active{background:#fff;border:1px solid #2970ff;}
.tab-wrap .tab-list.active a{color:#2970ff;}
.tab-wrap a{display:block;text-align:center;}
.box-flex-wrap{position:relative;display:flex;margin:30px 0 0;padding:20px 110px 20px 20px;background:#f5f7f9;border:1px solid #efefef;}
.box-flex-wrap + .box-flex-wrap{margin-top:15px;}
.box-flex-wrap .date-label{position:absolute;top:20px;right:20px;padding:5px 10px;font-size:12px;color:#fff;background:#666;border-radius:4px;}
.box-flex-wrap .left-img-wrap{width:80px;height:100px;}
.box-flex-wrap .left-img-wrap img{border-radius:10px;}
.box-flex-wrap .box-content{flex:1;display:flex;flex-direction:column;justify-content:space-between;padding:0 25px;}
.box-flex-wrap .box-content .box-content-tit{font-size:18px;color:#333;font-weight:500;letter-spacing:-.25px;}
.box-flex-wrap .box-content .box-content-stit{margin-top:5px;font-size:14px;color:#777;}
.box-flex-wrap .box-content .box-content-btn-wrap{margin-top:10px;}
.box-flex-wrap .box-content .box-content-btn-wrap .box-content-btn{padding:8px 12px;font-size:12px;color:#fff;font-weight:500;border-radius:4px;}
.box-flex-wrap .box-content .box-content-btn-wrap .box-content-btn.yellow{background:#ffbc1f;}
.box-flex-wrap .box-content .box-content-btn-wrap .box-content-btn.orange{background:#f58220;}
.box-flex-wrap .box-content .box-content-btn-wrap .box-content-btn.blue{background:#2970ff;}
.box-flex-wrap .box-content .box-content-btn-wrap .box-content-btn.green{background:#10a795;}
.blue-big-btn{display:block;margin:40px auto 0;padding:15px 50px;font-size:16px;background:#2970ff;color:#fff;border:1px solid #2970ff;border-radius:4px;font-family:'Spoqa Han Sans Neo';}
.blue-big-btn:hover{background:inherit;color:#2970ff;}
    /* 팝업 시작 */
.ui-dialog{padding:0;}
.ui-widget.ui-widget-content{border:0;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br,
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl,
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr,
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-radius:0;}
.ui-widget{font: 100%/1.4 'Spoqa Han Sans', sans-serif;}
.ui-widget-content{color:inherit;}
.ui-widget-header{color:inherit;background:transparent;border:0;font-weight:normal;}
.ui-dialog .ui-dialog-titlebar{padding:0;}
.ui-dialog .ui-dialog-titlebar-close:hover{border:none;}
.ui-widget .ui-widget{font-size:inherit;right:0;top:0;margin:0;padding:0;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font: 100%/1.4 'Spoqa Han Sans', sans-serif;}
.ui-dialog .ui-dialog-content{padding:0;}
.ui-dialog .ui-dialog-buttonpane{border:0;margin:0;padding:0;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:none;}
.ui-dialog .ui-dialog-buttonpane button{margin:0;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{color:inherit;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{border:0;}

.ui-widget-overlay{background:#000;opacity:.5;}
.research-dialog.ui-widget.ui-widget-content{position:relative;background:transparent;}
.research-dialog.ui-widget .ui-widget{font-size:14px;}
.research-dialog.ui-dialog .ui-dialog-title{display:none;}
.research-dialog.ui-dialog .ui-dialog-titlebar-close{right:10px;top:10px;width:40px;height:40px;background:url('/static/assets/images/pop_close_btn.png') no-repeat center;z-index:1;}
.research-dialog.ui-dialog .ui-dialog-content{padding:55px 20px 23px;background:#fff;border-radius:20px;}
.research-dialog .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-size:14px}
.research-dialog.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{position:absolute;left:50%;bottom:30px;transform:translateX(-50%);width:100%;text-align:center;}

.pop-tit{margin-bottom:22px;font-size:18px;color:#000;line-height:16px;font-weight:700;}
.pop-cont-wrap{color:#333;line-height:24px;}
.tab-wrap.dialog-tab{margin:15px 0;}
.tab-wrap.dialog-tab .tab-list{padding:10px;font-size:13px;}
    /* 팝업 끝 */
/* FOMC 성향분석 시작 */
.radio-row {display: flex; justify-content: flex-start; flex-wrap: wrap; gap:10px 30px;margin-bottom:20px;}
.radio-group {display: flex; align-items: center; margin: 5px;}
.radio-group label {white-space: nowrap;}
.radio-group label:hover{color:inherit;}
#timelineContainer { min-width: 400px; max-width: 600px; margin: 0 auto; } 
#scoreContainer { height: 400px; } 
.highcharts-figure, .highcharts-data-table table { min-width: 310px; max-width: 800px; margin: 1em auto; } 
.highcharts-data-table table { font-family: Verdana, sans-serif; border-collapse: collapse; border: 1px solid #ebebeb; margin: 10px auto; text-align: center; width: 100%; max-width: 500px; } 
.highcharts-data-table caption { padding: 1em 0; font-size: 1.2em; color: #555; } 
.highcharts-data-table th { font-weight: 600; padding: 0.5em; } 
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption { padding: 0.5em; } 
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) { background: #f8f8f8; } 
.highcharts-data-table tr:hover { background: #f1f7ff; }

/* FOMC 성향분석 끝 */    
/* FOMC 연준위원 스피치 요약 및 성향분석 끝 */

/* [1ST GNB][5TH LNB] 캘린더 영역  */
#chartPilot .event {border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; background-color: #f9f9f9;}
#chartPilot .event .title { color: #333; font-weight: bold; }
#chartPilot .event .details {font-size: 14px;}
#chartPilot .event[style*="F50B01"] { border-left-color: #F50B01; }
#chartPilot .event[style*="f80909"] { border-left-color: #f80909; }
#chartPilot .event[style*="fd0303"] { border-left-color: #fd0303; }
#chartPilot .event[style*="d4085e"] { border-left-color: #d4085e; }
.fc-header-toolbar {padding-top: 1em; padding-left: 1em; padding-right: 1em;}
.fc-event-title, .fc-event-extended-description {white-space: normal;}
.fc-day-sun a {color: red; text-decoration: none;}
.fc-day-sat a {color: blue; text-decoration: none;}
.fc-col-header-cell-cushion {color: #000;}
.fc-col-header-cell-cushion:hover {text-decoration: none; color:#000;}
.fc-daygrid-day-number{color: #000; font-size:1em;}
.fc-daygrid-more-link.fc-more-link{color: #000;}
.fc-daygrid-event {font-size:10px; white-space:normal !important;}
.fc-daygrid-event > .fc-event-time{color:#000; }
.fc-day-grid-event > .fc-content {white-space: normal;}
.fc-daygrid-dot-event > .fc-event-title{color:#000 !important;}
.fc-button-active{border-color: #ffc107 !important; background-color: #ffc107 !important; color: #000 !important; font-weight: bold !important;}
.fc-today-button{border-color: #ffc107 !important; background-color: #ffc107 !important; color: #000 !important; font-weight: bold !important;} 
.fc-event-desc,.fc-event-title {white-space: break-spaces;}
.loading_bar_calendar { position: fixed; bottom: 200px; left: 57%; transform: translateX(-50%); display: none; z-index: 99; text-align: center; }
.loading_bar_calendar > img { max-width: 100px; max-height: 100px; }
.btn-warning{font-weight: bold;}
.modal-footer{display:inline-block;}
.calendar_ai_box {border: 1px solid #ffc107; background-color: #fff3cd; color: #856404; border-radius: 4px; padding: 15px; margin: 15px 0; font-size: 14px; line-height: 1.5;}
.fc-daygrid-event-harness {margin-top: 5px !important;}
.fc-daygrid-day-events .fc-daygrid-event-harness:first-child {margin-top: 0 !important;}
.calendar-opt-btn {padding: 10px; background: #fafaff; color: #333; font-size: 15px; font-family: 'Spoqa Han Sans Neo'; border: 1px solid #ccc; font-weight: 700; display: inline-block; margin-right: 10px;}
.calendar-opt-btn:last-child {margin-right: 0;}
.calendar-opt-btn:hover {background: inherit;}
.fancy-calendar-popup, .fancy-calendar-details { box-shadow: 0px 0px 15px rgba(0,0,0,0.2); border-radius: 10px; background-color: #FFF7E6; padding: 20px; }
.fancy-calendar-popup { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1000; }
.fancy-calendar-popup input[type="radio"] { margin-right: 10px; }
.fancy-calendar-popup button { background-color: #FFD580; border: none; margin-top:10px; padding: 10px 20px; border-radius: 5px; cursor: pointer; }
.fancy-calendar-popup button:hover  {background-color: #ffe5b1;}
.fancy-calendar-details { margin-top: 20px; }
.fancy-calendar-details div { cursor: pointer; padding: 10px; border-bottom: 1px solid #FFD580; }
.fancy-calendar-form {margin-top: 10px;}
.calendar-button-group {text-align: center;margin-top: 20px;}
.calendar-button-group .calendar-opt-btn { margin: 0 10px;}
#fancyCalendarPopup > span {color:#856404; font-size:14px;} 
#fancyCalendarDetails {display: flex; flex-direction: column; gap: 10px; padding: 20px; align-items: start;}
.calendar-search-title {font-size: 16px; color: #333; margin-bottom: 10px; font-weight: bold;}
.calendar-search-select-container {display: flex; align-items: center;}
.calendar-search-select {padding: 5px 10px; border: 1px solid #ccc; border-radius: 0; font-size: 14px; color: #333; background-color:#fdfff6; flex-grow: 1;}
.calendar-search-btn {padding: 4px 12px; border: 1px solid #ccc; background-color: #f0f0f0; color: #333; border-radius: 0; cursor: pointer; margin-left: 10px;}
.calendar-search-btn:hover {background-color: #e0e0e0;}
.popupHidden { display: none; }
.calLabel {margin-right: 10px; white-space: nowrap; margin-left:20px !important; font-size:13px !important;}
.calInput[type="text"] {padding: 4px 8px; border: 1px solid #ccc; border-radius: 4px; font-size: 12px; color: #333; width: 120px;}
.calendarChartContainer{overflow: hidden;width:100%;height:500px;}


/* [1ST GNB][6TH LNB] 유사국면 시스템 :: 해외채권 분석 */
.similarity-tab-menu { left: 0; background: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: auto; margin: 0 auto;}
.similarity-tabs { background: #fffefe; border-top: none;}
.similarity-tab-link { width:180px; background: inherit; border-top: 1px solid #9d9d9d; border-right: 1px solid #9d9d9d; border-bottom: 1px solid #9d9d9d; float: left; outline: none; cursor: pointer; padding: 14px 16px; transition: 0.3s; font-weight: bold;}
.similarity-tab-link:hover, .similarity-tab-link.active { background-color: #e0e0e0;}
.similarity-tab-link:first-child { border-left: 1px solid #9d9d9d;}
.similarity-tab-content { display: none; padding: 20px; border: none;}
.similarity-container { max-width: 800px; margin: 20px auto; margin-top: 50px !important; padding: 20px; background-color: #FFFFFF; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;}
.similarity-section { border-bottom: 1px solid #EEE; padding-bottom: 20px; margin-bottom: 20px; background-color: #FAFAFA; }
.similarity-form-group { display: flex; align-items: center; margin-bottom: 10px; }
.similarity-form-group > div { display: flex; align-items: center; }
.similarity-form-group:last-child { margin-bottom: 0; }
.similarity-form-label { flex-basis: 20%; min-width: 150px; margin-right: 10px; color: #837d75; }
.similarity-form-input, .similarity-select, .similarity-button { padding: 10px; border-radius: 5px; border: 1px solid #45332e; box-sizing: border-box; }
.similarity-form-input, .similarity-select { flex-grow: 1;} 
.similarity-range-input { width: auto; margin-left: 10px; } 
.similarity-title { background-color: #535255; color: #FFFFFF; padding: 20px; border-radius: 10px 10px 0 0; margin: -20px -20px 20px -20px; text-align: center; font-size:20px; }
.similarity-button { background-color: #4f473d; color: white; cursor: pointer; border: none; width: auto; margin-top: 10px; align-self: flex-start; }
.similarity-button:hover { background-color: #FB8C00; }
.similarity-nSteps-value { margin-left: 10px; font-size: 16px; color: #fda744; }
.similarity-select, .similarity-form-input { height: 38px; margin-right:10px; } 
.multi-select-item {display: flex; align-items: center; margin-bottom: 5px; padding: 5px; border: 1px solid #ccc; border-radius: 4px; background-color: #f8f8f8;}
.multi-select-text {flex-grow: 2; margin-right: 10px; border: 1px solid #ccc; padding: 5px; border-radius: 4px; width: auto; background-color: #ffffff;}
.multi-select-label {margin-right: 5px; font-weight: normal; color: #333; font-size:13px;}
.multi-select-weight {width: 15%; flex-grow: 1; border: 1px solid #ccc; padding: 5px; border-radius: 4px; background-color: #e6e6e6;}
.multi-select-delete {cursor: pointer; color: red; font-weight: bold; padding: 5px; border-radius: 4px; background-color: #f2f2f2;}
.similarity-tab-menu{box-shadow:none;}
.similarity-tab-link{float:none;transition:none;}
.similarity-tab-link:hover{color:inherit;}
.similarity-tab-link.active{color:#2970ff;}
.similarity-tab-content{padding:0;}
.similarity-container{max-width:inherit;margin:0;padding:0;box-shadow:none;}
.similarity-title{margin:0 0 20px 0;padding:0;font-size:20px;color:#333;background:transparent;text-align:left;}
.similarity-section{margin-bottom:0;padding:15px 80px 15px 30px;background:#fafaff;border-top:1px solid #d8d8d8;border-bottom:0;}
.similarity-section.bbd8{border-bottom:1px solid #d8d8d8;}
.similarity-select, .similarity-form-input{margin-right:0;}
select.similarity-form-input{flex-grow:initial;min-width:520px;margin-right:0;border:1px solid #d8d8d8;border-radius:0;}
.similarity-form-label{flex-basis:20%;margin-right:50px;color:#333;}
.similarity-form-label:hover{color:inherit;}
.input-date-wrap{display:flex;align-items:center;gap:5px;}
.similarity-range-input{margin-left:0;background:url('/static/assets/images/calendar_ic.png') no-repeat right;}
input[type="date"].similarity-range-input{position:relative;color:#555;}
input[type="date"].similarity-range-input::-webkit-calendar-picker-indicator{position:absolute;left:0;top:0;width:100%;height:100%;background:transparent;color:transparent;cursor:pointer;}
input[type="date"].similarity-form-input{flex-grow:initial;width:250px;height:30px;margin-right:0;padding:0;background-color:#fff;border:1px solid #d8d8d8;border-right:0;border-radius:0;text-align:center;}
input[type="range"].similarity-form-input{flex-grow:initial;width:50%;padding:0;}
input[type="range"].similarity-form-input:focus{outline:0;}
.similarity-nSteps-value{color:#2970ff;}
.similarity-button{width:160px;height:40px;margin-top:40px;background:#2970ff;border-radius:4px;}
.similarity-button:hover{color:#2970ff;background:#fff;border:1px solid #2970ff;}
#similarityOriginalChartContainer{margin-top:40px;}
#similarityAlignedChartContainer{margin-top:40px;}

/* [1ST GNB][7TH LNB] 유사국면 시스템 :: 해외주식 분석 */
.foreign-stockcode-box{margin: 20px auto; text-align: center; width: 80%; max-width: 800px;}
.input-container .foreign-stockcode-box{width:100%;max-width:inherit;}
.frst-news-container { flex-direction: column; align-items: center; padding: 20px; display: none; }
.frst-news-main-title { position: relative; margin-bottom: 24px; font-size: 24px; line-height: 24px; }
.frst-news-main-title::before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 7px; background: #fad58c; z-index: -1; }
.frst-news-sub-title { margin-bottom: 30px; color: #333; font-weight: 400; font-size: 18px; }
.frst-news-date-inputs { margin-bottom: 20px; }
.frst-news-date-input { color: #555; position: relative; width: 250px; height: 30px; margin-right: 10px; padding: 0; background-color: #fff; border: 1px solid #d8d8d8; text-align: center; }
.frst-news-date-input::-webkit-calendar-picker-indicator { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: transparent; color: transparent; cursor: pointer; }
.frst-news-search-btn { padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer; }
.frst-news-search-btn:hover { background-color: #0056b3; }
.frst-news-results { display: flex; flex-direction: column; align-items: center; width: 100%; max-width: 850px; margin-top: 20px; }
.frst-flex-wrap { position: relative; width:100%; display: flex; margin: 20px 0; padding: 20px; background: #f5f7f9; border: 1px solid #efefef; }
.frst-date-label { position: absolute; top: 20px; right: 20px; padding: 5px 10px; font-size: 12px; color: #fff; background: #666; border-radius: 4px; }
.frst-left-img-wrap { width: 120px; height: 100px; }
.frst-left-img-wrap img { width: 100%; height: 100%; border-radius: 10px; object-fit: cover; }
.frst-content { flex: 1; display: flex; flex-direction: column; justify-content: space-between; padding-left: 25px; }
.frst-content-tit { font-size: 18px; color: #333; font-weight: 500; margin-bottom: 10px; }
.frst-content-btn-wrap { margin-top: 10px; display: flex; gap: 10px; }
.frst-content-btn { padding: 8px 12px; font-size: 12px; color: #fff; font-weight: 500; border-radius: 4px; text-decoration: none; }
.frst-content-btn.blue { background: #2970ff; }
.frst-content-btn.orange { background: #f58220; }
.frst-content-btn:hover { opacity: 0.8; }

/* 로딩 바 */
.loading_bar {position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); display: none; z-index: 99; text-align: center;}
.loading_bar > img {max-width: 100px; max-height: 100px;}
.loading-text {background-color: white;}

/*마켓 PDF 분석*/
.upload-container { text-align: center; padding: 40px 40px 20px; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px; }
.file-label {display: inline-block; padding: 10px 30px; background-color: #007bff; color: white; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;}
.file-label:hover {background-color: #00BFFF;}
.file-name {display: block; margin-top: 10px; color: #666;}
.ocrButton {display: inline-block; margin: 20px 10px; padding: 10px 20px; background-color: #87CEFA; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; font-weight: bold;}
.ocrButton:hover {background-color: #7487f1;}

